@charset "UTF-8";
.box {
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.imgur.com/CfADHaS.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 120px;
}
.box .btn {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

#first-question, #second-question, #third-question, #fourth-question, #fifth-question, #sixth-question, #seventh-question, #eighth-question, #ninth-question, #tenth-question {
  opacity: 0;
  display: none;
}

.text {
  color: #000;
  text-decoration: none;
  font-family: 微軟正黑體;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-container .option-container {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

.closedoor-house {
  height: 300px;
  width: 420px;
  display: block;
}

.circle-table {
  height: 270px;
  width: 400px;
  display: block;
}

.metal-vase {
  height: 180px;
  width: 100px;
  display: block;
  transform: translateY(60px);
}

.three-key {
  height: 270px;
  width: 150px;
  display: block;
}

.metal-box {
  height: 500px;
  width: 350px;
  display: block;
}

.wooden-bridge {
  height: 400px;
  width: 600px;
  display: block;
}

.brown-horse {
  height: 300px;
  display: block;
}

.horse-running {
  height: 300px;
  display: block;
}

.final-answer {
  color: #000;
  text-decoration: none;
  font-family: 微軟正黑體;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin-top: 0px;
}